.price {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.card_actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_actions > button {
  color: black;
  font-size: 500;
  background-color: #333;
}
